body { 
    font-family: Arial, sans-serif; 
    text-align: center; 
    max-width:1920px;
   
    margin-top: 20px;
    padding: 20px;
}

.main_body{
    max-width: 1920px;
    display: flex;
}
.child1{
    width: 500px;
    padding: 20px;
}
.child2{
    width: 900px;
    padding: 20px;
}

#cameraStream {
    max-width: 100%;
    height: auto;
    background-color: #f0f0f0;
    border: 2px solid #333;
    display: block;
    margin: 0 auto;
    margin-top: 35px;
}
#toggleButton {
    padding: 10px 20px;
    margin: 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
}
#toggleButton:hover {
    background-color: #0056b3;
    height: 40px;
}
#sensorTable {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
}
#sensorTable th, #sensorTable td {
    border: 1px solid black;
    padding: 10px;
    text-align: left;
}
#sensorTable th {
    background-color: #f2f2f2;
}
#sensorStatus {
    font-size: 1.2em;
    margin-top: 20px;
    height: 40px;
}
